:root {
  --utama: #034b29;
  --kuning: #feda00;
  --second: #f2fcf7;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--second);
  color: var(--utama);
  text-decoration: none;
  box-sizing: border-box;
}

/* Header Top */
.header-top {
  padding: 1rem 0;
}

.header-top .container {
  display: flex;
}

.header-top .container .logo a img {
  width: 17rem;
}

.header-top .container .logo-extra {
  position: relative;
  align-items: center;
}

.header-top .container .logo-extra .logo-extra-item {
  font-weight: 500;
  margin: 0 0.5rem;
}

.header-top .container .logo-extra .logo-extra-item span {
  font-size: 85%;
  margin-left: 0.3rem;
}

.header-top .container .logo-extra .logo-extra-item a {
  text-decoration: none;
  color: var(--utama);
}

.header-top .container .logo-extra .logo-extra-item a:hover {
  font-weight: 700;
  background-color: #feda00;
  display: flex;
  height: 2rem;
  width: 5rem;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

/* Header Bottom */
.header-bottom {
  background-color: var(--utama);
  color: var(--second);
}

.header-bottom .navbar .navbar-nav .nav-item .nav-link {
  color: var(--second);
  font-size: 0.9rem;
}

.header-bottom .navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--kuning);
  font-weight: 500;
}

.header-bottom .navbar .navbar-nav .nav-item {
  margin-right: 1.2rem;
}

.header-bottom .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: var(--utama);
}

.header-bottom .navbar .navbar-nav .nav-item a {
  font-size: 1rem;
}

.header-bottom .navbar .container button {
  background-color: var(--second);
}

/* Main Content */
#main-content {
  margin-top: 1.3rem;
}

#main-content .carousel {
  border-radius: 1.5rem;
  overflow: hidden;
}

.devider {
  margin: 1.3rem 0;
}

.devider h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  font-style: italic;
  position: relative;
}

.devider h3::after {
  content: "";
  display: block;
  position: absolute;
  /* left: 100%; */
  bottom: -40%;
  height: 0.2rem;
  width: 100%;
  background: rgb(15, 69, 43);
  background: linear-gradient(
    90deg,
    rgba(15, 69, 43, 1) 1%,
    rgba(3, 75, 41, 1) 12%,
    rgba(242, 252, 247, 1) 99%
  );
}

/* RESPONSIVE */

/* Laptop */
@media (max-width: 1366px) {
}

/* Tablet */
@media (max-width: 992px) {
  /* Header Top */
  .header-top .container .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 0.7rem;
  }

  .header-top .container .logo-extra {
    justify-content: center;
  }

  .header-top .container .logo-extra .logo-extra-item span {
    font-size: 75%;
    margin-left: 0.3rem;
  }

  .header-top .container .logo-extra .logo-extra-item.pencarian {
    display: none;
  }

  /* Header Bottom */
  .header-bottom .container {
    display: flex;
    justify-content: center;
  }
}

/* Tablet */
@media (max-width: 767px) {
  .header-top .container {
    flex-direction: column;
  }

  .header-top .container .logo {
    display: flex;
    justify-content: center;
    /* margin-bottom: 0.7rem; */
  }

  .header-top .container .logo a img {
    width: 16rem;
  }

  .header-top .container .logo-extra .logo-extra-item span {
    font-size: 75%;
    margin-left: 0.3rem;
  }

  .devider h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-style: italic;
    position: relative;
    text-align: center;
  }

  .devider h3::after {
    content: "";
    display: block;
    position: absolute;
    /* left: 100%; */
    bottom: -40%;
    height: 0.2rem;
    width: 100%;
    background: rgb(242, 252, 247);
    background: linear-gradient(
      90deg,
      rgba(242, 252, 247, 1) 1%,
      rgba(3, 75, 41, 1) 50%,
      rgba(242, 252, 247, 1) 99%
    );
  }
}

/* Phone */
@media (max-width: 576px) {
}
